## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
sample_list_1 = [random.randint(0,100) for number in range(80)]
print(sample_list_1)
len(sample_list_1)

[38, 4, 31, 56, 76, 8, 55, 44, 13, 96, 54, 99, 14, 59, 35, 46, 39, 57, 25, 78, 39, 52, 91, 79, 50, 88, 59, 40, 89, 7, 64, 91, 54, 80, 7, 55, 91, 92, 10, 22, 15, 24, 18, 60, 73, 90, 41, 38, 72, 75, 50, 37, 19, 72, 21, 12, 28, 26, 63, 33, 35, 100, 35, 64, 97, 83, 14, 80, 98, 23, 43, 78, 40, 54, 33, 3, 21, 92, 4, 33]

80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
set1 = set(sample_list_1)
print(set1)
len(set1)
# length is different everytime I run the code

{3, 4, 7, 8, 10, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 28, 31, 33, 35, 37, 38, 39, 40, 41, 43, 44, 46, 50, 52, 54, 55, 56, 57, 59, 60, 63, 64, 72, 73, 75, 76, 78, 79, 80, 83, 88, 89, 90, 91, 92, 96, 97, 98, 99, 100}

57

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
sample_list_2 = []

for element in range(0,80):
    number = random.randint(1,100)
    sample_list_2.append(number)

print(sample_list_2)
len(sample_list_2)

[54, 12, 18, 1, 88, 8, 83, 37, 27, 20, 34, 13, 23, 99, 36, 60, 78, 30, 4, 86, 75, 3, 93, 83, 49, 59, 23, 29, 80, 1, 24, 25, 87, 83, 42, 37, 79, 11, 48, 64, 65, 87, 84, 71, 39, 76, 1, 87, 52, 12, 79, 54, 27, 15, 12, 80, 96, 32, 12, 1, 74, 17, 66, 95, 46, 25, 87, 93, 79, 79, 92, 4, 91, 26, 85, 9, 74, 7, 16, 4]

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 3, 4, 7, 8, 9, 11, 12, 13, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 29, 30, 32, 34, 36, 37, 39, 42, 46, 48, 49, 52, 54, 59, 60, 64, 65, 66, 71, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 91, 92, 93, 95, 96, 99}

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [42]:
set3 = set1.difference(set2)
print(set3)

{10, 14, 19, 21, 22, 28, 31, 33, 35, 38, 40, 41, 43, 44, 50, 55, 56, 57, 63, 72, 73, 89, 90, 97, 98, 100}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
set4 = set2.difference(set1)
print(set4)

{1, 9, 11, 16, 17, 20, 27, 29, 30, 32, 34, 36, 42, 48, 49, 65, 66, 71, 74, 84, 85, 86, 87, 93, 95}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [43]:
set5 = set1.intersection(set2)
print(set5)

{3, 4, 7, 8, 12, 13, 15, 18, 23, 24, 25, 26, 37, 39, 46, 52, 54, 59, 60, 64, 75, 76, 78, 79, 80, 83, 88, 91, 92, 96, 99}

#### 8 - Create an empty set called `set6`.

In [25]:
set6 = {}

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [51]:
set6 = {}
set3 = {10, 14, 19, 21, 22, 28, 31, 33, 35, 38, 40, 41, 43, 44, 50, 55, 56, 57, 63, 72, 73, 89, 90, 97, 98, 100}
set5 = {3, 4, 7, 8, 12, 13, 15, 18, 23, 24, 25, 26, 37, 39, 46, 52, 54, 59, 60, 64, 75, 76, 78, 79, 80, 83, 88, 91, 92, 96, 99}
set6 = set5.union(set3)
print(set6)

# I can´t figure out how to use the update function. I wrote: set6.update(set3) and the same with set5 but it always printed an error message

{3, 4, 7, 8, 10, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 28, 31, 33, 35, 37, 38, 39, 40, 41, 43, 44, 46, 50, 52, 54, 55, 56, 57, 59, 60, 63, 64, 72, 73, 75, 76, 78, 79, 80, 83, 88, 89, 90, 91, 92, 96, 97, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [52]:
print(set1 == set6)

# why is it equal? Is it a co incidence? (I don´t think so)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [57]:
questionset = set1.issubset(set2)
print(questionset)

anotherquestionset = set1.issubset(set3)
print(anotherquestionset)

False
False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [62]:
seta = set3.union(set4, set5)
print(seta)

seta = set1.union(set2)
print(seta)

# question 2 to check if aggregated values are equal, I dont get it (yes, I googled)

{1, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 52, 54, 55, 56, 57, 59, 60, 63, 64, 65, 66, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
{1, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 50, 52, 54, 55, 56, 57, 59, 60, 63, 64, 65, 66, 71, 72, 73, 74, 75, 76, 78, 79, 80, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [72]:
print(set1)
set1.pop(0)

# yes I googled and the code is exact the same but it doesn´t work here

{3, 4, 7, 8, 10, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 26, 28, 31, 33, 35, 37, 38, 39, 40, 41, 43, 44, 46, 50, 52, 54, 55, 56, 57, 59, 60, 63, 64, 72, 73, 75, 76, 78, 79, 80, 83, 88, 89, 90, 91, 92, 96, 97, 98, 99, 100}

TypeError: set.pop() takes no arguments (1 given)

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [78]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set10 = set(list_to_remove)

for element in set10:
    if element in set1:
        set1.remove(element)

print(set1)

{3, 4, 7, 8, 10, 12, 13, 14, 15, 18, 22, 23, 24, 25, 26, 28, 33, 35, 37, 38, 40, 43, 44, 46, 50, 52, 54, 55, 56, 57, 60, 63, 64, 72, 73, 75, 76, 78, 80, 83, 88, 90, 92, 96, 97, 98, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [79]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [81]:
father_set = {'garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic'}
mother_set = {}
jo_set = {'blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt'}
carlos_set = {'tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper'}
mattia_set = {}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [83]:
mattia_set = carlos_set.symmetric_difference(jo_set)
print(mattia_set)

{'cherries', 'blueberries', 'toilet paper', 'tomatoes', 'garlic', 'flour', 'onions', 'water'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [84]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['blueberries', 'tomatoes', 'bread', 'bread', 'milk', 'tomatoes', 'blueberries', 'juice', 'garlic', 'juice']

In [88]:
mother_set = set(mother_list)
print(mother_set)

{'juice', 'blueberries', 'bread', 'tomatoes', 'milk', 'garlic'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [99]:
mattia_set.discard('toilet paper')
print(mattia_set)
father_set.discard('toilet paper')
print(father_set)

# I don´t understand the point with the list. I created a list before with all the items for each family member but then 
# I can´t use the discard function as its only for sets so I left it as a set. I don´t understand how I can use the loop function for 2 sets in one time

{'cherries', 'blueberries', 'tomatoes', 'garlic', 'flour', 'onions', 'water'}
{'gums', 'cucumber', 'yogurt', 'watermelon', 'flour', 'garlic', 'onions'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [104]:
grocery_set1 = father_set.symmetric_difference(mother_set)
grocery_set2 = grocery_set1.symmetric_difference(mattia_set)
grocery_set3 = grocery_set2.symmetric_difference(jo_set)
grocery_set4 = grocery_set3.symmetric_difference(carlos_set)
print(grocery_set4)

# felt like cheating. I think its not the proper way to solve the question but it works :D

{'gums', 'juice', 'blueberries', 'bread', 'toilet paper', 'tomatoes', 'cucumber', 'yogurt', 'flour', 'watermelon', 'milk', 'onions'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [109]:
grocery_set4.pop()

#  I can´t figure out how I can randomly pop 5 elements

'bread'